@import '@styles/variables.scss';
@import 'foundation-sites/scss/foundation.scss';
.widgetPinnedLinks {
  position: fixed;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  //max-width: 927px;
  //border-top-left-radius: 6px;
  //border-top-right-radius: 6px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &.variant {
    &Standard {
    }
  }

  &.layout {
    &Bottom {
      bottom: 0;
      left: 0;
    }
  }

  nav {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #002E60;
    height: 75px;
    width: 100%;
    max-width: 927px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      width: 100%;
      min-width: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: Montserrat, sans-serif;
      font-weight: 300;
      line-height: 14px;
      letter-spacing: 0;
      font-size: 12px;
      text-transform: uppercase;
      text-decoration: none;
      color: #FFFFFF;

      img {}

      .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 6px;

        strong {}
      }

      &:not(:last-child) {
        border-right: 1px solid #6E7981;
      }
    }
  }
}
