@font-face {
  font-family: 'Gotham Black';
  src: url('/fonts/Gotham Black/Gotham Black Regulat.ttf');
  font-weight: normal;
  font-style:  normal;
}

@font-face {
  font-family: 'Gotham Black';
  src: url('/fonts/Gotham Black/Gotham Black Italic.otf');
  font-weight: normal;
  font-style:  italic;
}

@font-face {
  font-family: 'Gotham Book';
  src: url('/fonts/Gotham Book/Gotham Book Regulat.otf');
  font-weight: normal;
  font-style:  normal;
}

@font-face {
  font-family: 'Gotham Book';
  src: url('/fonts/Gotham Book/Gotham Black Italic.ttf');
  font-weight: normal;
  font-style:  italic;
}

@font-face {
  font-family: 'Gotham Light';
  src: url('/fonts/Gotham Light/Gotham Light Regulat.otf');
  font-weight: normal;
  font-style:  normal;
}

@font-face {
  font-family: 'Gotham Light';
  src: url('/fonts/Gotham Light/Gotham Light Italic.otf');
  font-weight: normal;
  font-style:  italic;
}
